html, body {
    width: 200px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;

}

#admin-form{
    padding-top:100px;
    width:200px;
    display: table;
    margin: auto;
    
}

.small-img {
    max-width: 200px;
    max-height: 200px;
}
a{
    margin-left:-6px;
}
  
  
  

